html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#street-view {
  height: 100%;
}

button {
  width: 100px;
  height: 25px;
  color: white;
  background-color: red;
}

#floating-panel {
  position: absolute;
  top: 10px;
  left: 5%;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}
